    {% extends 'base.html' %}

    {% block title %}
    <title>Registration- Docklocker</title>
    {% endblock title %}

    {% block content %}
    <h2 style="padding:15px; text-align: center;">Register here !!</h2>
    <hr>
    {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-info">{{ message }}</p>
                {% endfor %}
            {% endif %}

    <form method="POST" style="padding: 30px">
        {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Register</button>
  </form>
    {% endblock content %}


